html {
  font-size: 10px;
  background: url("/guitar-bg.png") center;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  color: #ffc600;
  font-size: 6rem;
  text-shadow: 0 0 1rem black;
  margin: 2rem;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 12rem;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
